<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/result.css" />
    <title>Rating Page</title>
  </head>
  <body style="background-image: url(/static/img/pexels-lukas-1410138.jpg);">
    <section class="page">
      <h2>Quality of this Wine is :</h2>
      <h1>"BELOW AVERAGE"</h1>
    </section>
    <div class="quote">
      <p>
        "A bottle of wine contains more philosophy than all the books in the
        world."
      </p>
      <p class="credit">~ Louis Pasteur</p>
    </div>
    <a href="index.html">Check Another</a>
  </body>
</html>
