<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/result.css" />
    <title>Rating Page</title>
  </head>
  <body style="background-image: url(/static/img/pexels-lukas-1410138.jpg);">
    <section class="page">
      <h2>Quality of this Wine is :</h2>
      <h1>"VERY GOOD"</h1>
      <div class="quote">
        <p>
          "I love everything that's old, - old friends, old times, old manners,
          old books, old wine."
        </p>
        <p class="credit">~ Oliver Goldsmith</p>
      </div>
      <a href="index.html">Check Another</a>
    </section>
  </body>
</html>
